@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 214 96% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 73% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 16% 93%;
    --muted-foreground: 220 9% 46%;
    --accent: 225 73% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 14% 89%;
    --input: 210 14% 89%;
    --ring: 214 96% 12%;
    --chart-1: 214 96% 12%;
    --chart-2: 225 73% 40%;
    --chart-3: 225 73% 40%;
    --chart-4: 210 8% 31%;
    --chart-5: 220 9% 46%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 215 28% 17%;
    --sidebar-primary: 214 96% 12%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 16% 93%;
    --sidebar-accent-foreground: 215 28% 17%;
    --sidebar-border: 210 14% 89%;
    --sidebar-ring: 214 96% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-foreground;
  }
}
